<h1>記事一覧</h1>
<%= link_to "新規記事作成", new_article_path %><br><hr>
<% @articles.each do |article| %>
  <%= link_to article.title, article_path(article) %><br>
  <%= article.content %><br>
  <%= article.created_at %><br>
  <% if user_signed_in? %>
    <% if article.user_id == current_user.id %>
    <div class="btn">
      <%= link_to "編集", edit_article_path(article) %>
    </div>
    <div class="btn">
      <%= link_to "削除", article_path(article), method: :delete, data: {confirm: "削除していいですか"} %>
    </div>
    <% end %>
  <% end %>
  <hr>
<% end %>
