<h1>みんなの記事</h1>
<%= link_to "新規記事作成", new_article_path, class: "btn btn-primary" %><br><hr>

<div class="row">

<% @articles.each do |article| %>
<div class="box2 col-lg-3 col-md-6 mb-2 p-3">
  <%= link_to article.title, article_path(article) %><br>
  <%= simple_format(h article.content.truncate(70)) %><br>
  <div>作成日時：<%= article.created_at.strftime('%Y/%m/%d %H:%M') %></div>
  <div class="mb-2">更新日時：<%= article.updated_at.strftime('%Y/%m/%d %H:%M') %></div>
  <% if user_signed_in? %>
    <% if article.user_id == current_user.id %>
      <%= link_to "編集", edit_article_path(article), class: "btn btn-success ml-4" %>
      <%= link_to "削除", article_path(article), method: :delete, data: {confirm: "削除していいですか"}, class: "btn btn-danger ml-5" %>
    <% end %>
  <% end %>
</div>
<% end %>
</div>
