<h1>記事一覧</h1>
<%= link_to "新規記事作成", new_article_path, class: "btn btn-primary" %><br><hr>

<div class="row">

<% @articles.each do |article| %>
<div class="box2 col-lg-3 col-md-6 mb-2 p-4">
  <%= link_to article.title, article_path(article) %><br>
  <%= article.content.truncate(60) %><br>
  <%= article.created_at %><br>
  <% if user_signed_in? %>
    <% if article.user_id == current_user.id %>
      <%= link_to "編集", edit_article_path(article), class: "btn btn-success" %>
      <%= link_to "削除", article_path(article), method: :delete, data: {confirm: "削除していいですか"}, class: "btn btn-danger" %>
    <% end %>
  <% end %>
</div>
<% end %>
</div>
