<h1>記事詳細</h1>
<%= link_to "一覧へ", articles_path %><br>

<%= @article.title %><br>
<%= simple_format(h @article.content) %>
<% if user_signed_in? %>
  <% if @article.user_id == current_user.id %>
  <%= link_to "編集", edit_article_path(@article), class: "btn btn-success" %>
  <%= link_to "削除", article_path(@article), method: :delete, data: {confirm: "削除していいですか"}, class: "btn btn-danger ml-5" %>
  <% end %>
<% end %>
<br>
