<h1>記事詳細</h1>

<%= @article.title %><br>
<%= simple_format(h @article.content) %><br>
<% if user_signed_in? %>
  <% if @article.user_id == current_user.id %>
    <div class="btn">
      <%= link_to "編集", edit_article_path(@article) %>
    </div>
    <div class="btn">
      <%= link_to "削除", article_path(@article), method: :delete, data: {confirm: "削除していいですか"} %>
    </div>
  <% end %>
<% end %>
<%= link_to "一覧へ", articles_path %>
