<!DOCTYPE html>
<html>
  <head>
    <title>BlogPost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar" style="background-color:#e3f2fd;">
      <div class="container">
        <%= link_to "気づき", root_path %>
        <%= link_to "一覧へ", articles_path %><br>
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-item" %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path, class: "nav-item" %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="row">
        <div class="col-12">
        <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
